<h2><%= @event.name %> - <%= @event.venue.brand_name %></h2>
<p> Descrição:</p>
<p>
  <%= @event.description %>, 
  a partir de <%= @event.minimum_guests_number %> 
  até o máximo de <%= @event.maximun_guests_number %> convidados, 
  com pelo menos <%= @event.duration %> minutos de duração.
</p>

<h3>Serviços opcionais que oferecemos:</h3>
<ul>
  <% if @event.has_alcoholic_drinks %>
    <li>bebidas alcoólicas</li>
  <% end%>
  <% if @event.has_decorations %>
    <li>decoração</li>
  <% end%>
  <% if @event.has_parking_service %>
    <li>estacionamento</li>
  <% end%>
  <% if @event.has_valet_service %>
    <li>valet</li>
  <% end%>
</ul>

<h3>Observações:</h3>
<% if @event.can_be_catering %>
  <p>Além do nosso espaço, temos como opção o serviço de catering para que você possa realizar seu evento num espaço de sua preferência.</p>
<% else %>
  <p>Evento realizado exclusivamente em nosso espaço.</p>
<% end %>

<% if @event.price %>
  <div>
    <h3>Nossos preços:</h3>
    <section>
      <p>DIAS ÚTEIS</p>
      <p>
        Valor inicial:
        <%= "R$ #{@price.weekday_base_price},00 (#{@event.minimum_guests_number} convidados)." %>
      </p>
      <p>Taxa extra por pessoa: R$ <%= @price.weekday_plus_per_person %>,00</p>
      <p>Taxa por hora adicional: R$ <%= @price.weekday_plus_per_hour%>,00</p>
    </section>
    <section>
      <p>FINS DE SEMANA</p>
      <p>
        Valor inicial:
        <%= "R$ #{@price.weekend_base_price},00 (#{@event.minimum_guests_number} convidados)." %>
      </p>
      <p>Taxa extra por pessoa: R$ <%= @price.weekend_plus_per_person %>,00</p>
      <p>Taxa por hora adicional: R$ <%= @price.weekend_plus_per_hour%>,00</p>
    </section>
  </div>
<% else %>
  <p>Este evento ainda não possui preços cadastrados.</p>
<% end %>

