<h2 class="my-orders">Meus pedidos</h2>

<% if @orders.empty? %>
  <p>Você ainda não tem nenhum pedido.</p>
<% end %>

<% if current_user %>

  <div class="container" id="orders-sections">
    <section class="d-flex flex-column">
      <h5 class="p-2 mb-2 bg-secondary text-white">Aguardando sua avaliação</h5> 
      <div class="p-2 mb-2 bg-light text-dark">
        <% @orders.pending.each do |order| %>
          <%= render order %>
        <% end %>
      </div>
    </section>

    <section class="d-flex flex-column">
      <h5 class="p-2 mb-2 bg-secondary text-white">Confirmados</h5>
      <div class="p-2 mb-2 bg-light text-dark">
        <% @orders.confirmed.each do |order| %>
          <%= render order %>
        <% end %>
      </div>
    </section>

    <section class="d-flex flex-column">
      <h5 class="p-2 mb-2 bg-secondary text-white">Aprovados - Aguardando confirmação do cliente</h5>
      <div class="p-2 mb-2 bg-light text-dark">
        <% @orders.approved.each do |order| %>
          <%= render order %>
        <% end %>
      </div>
    </section>

    <section class="d-flex flex-column">
      <h5 class="p-2 mb-2 bg-secondary text-white">Cancelados</h5>
      <div class="p-2 mb-2 bg-light text-dark">
        <% @orders.canceled.each do |order| %>
          <%= render order %>
        <% end %>
      </div>
    </section>
  </div>

<% elsif current_customer %>

  <div class="container" id="orders-sections">
    <section class="d-flex flex-column" id="approved-orders">
      <h5 class="p-2 mb-2 bg-secondary text-white">Aguardando sua confirmação</h5>
      <div class="p-2 mb-2 bg-light text-dark">
        <% @orders.approved.each do |order| %>
          <%= render order %>
        <% end %>
      </div>
    </section>

    <section class="d-flex flex-column">
      <h5 class="p-2 mb-2 bg-secondary text-white">Aguardando avaliação do buffet</h5>
      <div class="p-2 mb-2 bg-light text-dark">
        <% @orders.pending.each do |order| %>
          <%= render order %>
        <% end %>
      </div> 
    </section>
    
    <section class="d-flex flex-column">
      <h5 class="p-2 mb-2 bg-secondary text-white">Confirmados</h5>
      <div class="p-2 mb-2 bg-light text-dark">
        <% @orders.confirmed.each do |order| %>
          <%= render order %>
        <% end %>
      </div>
    </section>

    <section class="d-flex flex-column">
      <h5 class="p-2 mb-2 bg-secondary text-white">Cancelados</h5>
      <div class="p-2 mb-2 bg-light text-dark">
        <% @orders.canceled.each do |order| %>
          <%= render order %>
        <% end %>
      </div>
    </section>
  </div>
  
<% end %>