<h2>Meus pedidos</h2>

<% if @orders.empty? %>
  <p>Você ainda não tem nenhum pedido.</p>
<% end %>

<% if current_user %>

  <div id="orders-sections">
    <section class="orders pending-orders">
      <h4>Aguardando sua avaliação:</h4> 
      <% @orders.pending.each do |order| %>
        <%= render order %>
      <% end %>
    </section>

    <section class="orders confirmed-orders">
      <h4>Confirmados:</h4>
      <% @orders.confirmed.each do |order| %>
        <%= render order %>
      <% end %>
    </section>

    <section class="orders approved-orders">
      <h4>Aprovados (aguardando confirmação do cliente):</h4>
      <% @orders.approved.each do |order| %>
        <%= render order %>
      <% end %>
    </section>

    <section class="orders canceled-orders">
      <h4>Cancelados:</h4>
      <% @orders.canceled.each do |order| %>
        <%= render order %>
      <% end %>
    </section>
  </div>

<% elsif current_customer %>

  <div id="orders-sections">
    <section class="orders approved-orders">
      <h4>Aguardando sua confirmação:</h4>
      <% @orders.approved.each do |order| %>
        <%= render order %>
      <% end %>
    </section>

    <section class="orders pending-orders">
      <h4>Aguardando avaliação do buffet:</h4> 
      <% @orders.pending.each do |order| %>
        <%= render order %>
      <% end %>
    </section>
    
    <section class="orders confirmed-orders">
      <h4>Confirmados:</h4>
      <% @orders.confirmed.each do |order| %>
        <%= render order %>
      <% end %>
    </section>

    <section class="orders canceled-orders">
      <h4>Cancelados:</h4>
      <% @orders.canceled.each do |order| %>
        <%= render order %>
      <% end %>
    </section>
  </div>
  
<% end %>