<% if current_user && @same_date_orders.any? %>
  <div>
    <p><strong>Atenção! Existem outros pedidos para esta data:</strong></p>
    <%  @same_date_orders.each do |order| %>
      <%= render order %>
    <% end %>
  </div>
<% end %>

<div id="order">
  <h4>Detalhes do pedido <strong><%= @order.code %></strong></h4>

  <div class="order-details">
    <p>
      <strong><%= Order.human_attribute_name(:customer_id) %>:</strong>
      <%= @order.customer.name %>
    </p>
    <p>
      <strong><%= Order.human_attribute_name(:event_id) %>:</strong>
      <%= @order.event.name %>
    </p>
    <p>
      <strong><%= Order.human_attribute_name(:event_date) %>:</strong>
      <%= I18n.localize(@order.event_date) %>
    </p>
    <p>
      <strong><%= Order.human_attribute_name(:number_of_guests) %>:</strong>
      <%= @order.number_of_guests %>
    </p>
    <p>
      <strong><%= Order.human_attribute_name(:event_details) %>:</strong>
      <%= @order.event_details %>
    </p>
    <p>
      <strong><%= Order.human_attribute_name(:venue_id) %>:</strong>
      <%= @order.venue.brand_name %>
    </p>
    <p>
      <strong><%= Order.human_attribute_name(:event_address) %>:</strong>
      <% if @order.event_address.present? %>
        <%= @order.event_address %>
      <% else %>
        <%= @order.venue.full_address %>
      <% end %>
      
    </p>
    <p>
      <strong><%= Order.human_attribute_name(:status) %>:</strong>
      <%= t(@order.status) %>
    </p>
  </div>
</div>


<% if current_user %>
  
  <% if @order.quotation %>
    
    <% if @order.pending? %>
      <div class="btn-group btn-group-toggle">
        <%= button_to 'Aprovar pedido', approved_order_path(@order.id), class: "btn btn-outline-success btn-sm" %>
      </div>
    <% end %>

    <%= render "quotations/table" %>

  <% else %>
    <% if @order.event.price %>
      <%= link_to 'Fazer orçamento', new_order_quotation_path(order_id: @order.id) %>
    <% else %>
      <p><strong>Este evento ainda não possui preços cadastrados.</strong></p>
      <p>Só é possível fazer o orçamento do pedido com os preços cadastrados.</p>
      <%= link_to 'Cadastrar preços deste evento', new_event_price_path(event_id: @order.event.id) %>
    <% end %>
  <% end %>
    
<% end %>


<% if current_customer %>

  <% if @order.pending? || @order.approved? %>
    
    <div class="btn-group btn-group-toggle">
      <%= button_to 'Cancelar pedido', canceled_order_path(@order.id), class: "btn btn-outline-danger btn-sm" %>
    </div>
    <% if @order.quotation && @order.approved? %>
      <% if Date.today <= @order.quotation.expiry_date %>
        <div class="btn-group btn-group-toggle">
          <%= button_to 'Confirmar pedido', confirmed_order_path(@order.id), class:"btn btn-outline-success btn-sm" %>
        </div>
      <% else %>
        <p>O prazo de validade do orçamento expirou!</p>
      <% end %>

      <%= render "quotations/table" %>
    <% end %>
  <% end %>

<% end %>