<% if current_user && @same_date_orders.any? %>
  <div>
    <p><strong>Atenção! Existem outros pedidos para esta data</strong></p>
    <%  @same_date_orders.each do |order| %>
      <%= render order %>
    <% end %>
  </div>
<% end %>

<div id="order-details">
  <h2>Detalhes do pedido</h2>
  <h3><%= Order.model_name.human %>: <%= @order.code %></h3>

  <dl>
    <dt><%= Order.human_attribute_name(:event_id) %>:</dt>
    <dd><%= @order.event.name %></dd>
    <dt><%= Order.human_attribute_name(:event_date) %>:</dt>
    <dd><%= I18n.localize(@order.event_date) %></dd>
    <dt><%= Order.human_attribute_name(:number_of_guests) %>:</dt>
    <dd><%= @order.number_of_guests %></dd>
    <dt><%= Order.human_attribute_name(:event_details) %>:</dt>
    <dd><%= @order.event_details %></dd>
    <dt><%= Order.human_attribute_name(:venue_id) %>:</dt>
    <dd><%= @order.venue.brand_name %></dd>
    <dt><%= Order.human_attribute_name(:event_address) %>:</dt>
    
    <% if @order.event_address %>
      <dd><%= @order.event_address %></dd>
    <% else %>
      <dd><%= @order.venue.full_address %></dd>
    <% end %>
    
    <dd><%= @order.event_address %></dd>
    <dt><%= Order.human_attribute_name(:status) %>:</dt>
    <dd><%= t(@order.status) %></dd>
  </dl>
</div>


<% if current_user %>
  <div style="background-color: #F0F2F2">

    <% if @order.quotation %>
      <%= render "quotations/table" %>
    <% else %>
      <% if @order.event.price %>
        <%= link_to 'Fazer orçamento', new_order_quotation_path(order_id: @order.id) %>
      <% else %>
        <p><strong>Este evento ainda não possui preços cadastrados.</strong></p>
        <p>Só é possível fazer o orçamento do pedido com os preços cadastrados.</p>
        <%= link_to 'Cadastrar preços deste evento', new_event_price_path(event_id: @order.event.id) %>
      <% end %>
    <% end %>
    
  </div>
<% end %>
