<h2><%= @venue.brand_name %></h2>
<p><%= "#{@venue.district} - #{@venue.city}/#{@venue.state}" %></p>

<div>
    <p><%= @venue.description %></p>
</div>

<h3>contatos:</h3>
<p>email: <%= @venue.email %></p>
<p>tel.: <%= @venue.phone_number %></p>
