<div class="venue-details">
  <h2><%= @venue.brand_name %></h2>
  <p><strong>Endereço: </strong> <%= @venue.full_address %> </p>
  <p><strong>Descrição: </strong> <%= @venue.description %></p>

  <div class="list">
    <h4>Eventos que realizamos:</h4>
    <% if user_signed_in? && current_user.venue%>
      <%= link_to 'Cadastrar um evento', new_venue_event_path(venue_id: current_user.venue.id), class:"btn btn-outline-primary btn-sm" %>
      <%= link_to 'Ver eventos desativados', deactivated_venue_events_path(venue_id: current_user.venue.id), class:"btn btn-outline-primary btn-sm" %>
    <% end %>

    <% if @venue.events.active.any? %>
      <% @venue.events.active.each do |e| %>
        <ul>
          <li><%= link_to "#{e.name}", event_path(e.id) %></li>
        </ul>
      <% end %>
    <% else %>
      <p>Nenhum evento cadastrado</p>
    <% end %>
  </div>
  
  <h4>Contatos:</h4>
  <p><strong>email: </strong> <%= @venue.email %></p>
  <p><strong>tel.: </strong> <%= @venue.phone_number %></p>
  <br>

  <h4>Outras informações:</h4>
  <p><strong>Meios de pagamentos aceitos: </strong> <%= @venue.payment_methods %></p>
  <p><strong>CNPJ: </strong> <%= @venue.registration_number %></p>

  <% if user_signed_in? && current_user.venue %>
    <p><strong>Razão Social: </strong> <%= @venue.corporate_name %></p>
    
    <div class="d-flex justify-content-end">
      <% if @venue.active? %>
        <%= button_to 'Desativar buffet', inactive_venue_path(@venue.id), class:"btn btn-warning" %>
      <% else %>
        <%= button_to 'Reativar buffet', active_venue_path(@venue.id), class:"btn btn-info" %>
      <% end %>
    </div>
  <% end %>
</div>
