<h3 class="form-title">
  Cadastro de preços para <%= @event.name %> - <%= @event.venue.brand_name %>:
</h3>

<% if(@price.errors.any?) %>
  <div class="errors-msg">
    <p>Verifique os erros abaixo:</p>
    <ul>
      <% @price.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: [@event, @price]) do |f| %>

  <div id="weekdays_prices">
    <h5><strong>De segunda a sexta-feira:</strong></h5>
    <div class="form-group col-md-3">
      <%= f.label :weekday_base_price %>
      <%= f.number_field :weekday_base_price, class:"form-control" %>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :weekday_plus_per_person %>
      <%= f.number_field :weekday_plus_per_person, class:"form-control" %>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :weekday_plus_per_hour %>
      <%= f.number_field :weekday_plus_per_hour, class:"form-control" %>
    </div>
  </div>
  <br>
  <div id="weekends_prices">
    <h5><strong>Sábado e domingo:</strong></h5>
    <div class="form-group col-md-3">
      <%= f.label :weekend_base_price %>
      <%= f.number_field :weekend_base_price, class:"form-control" %>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :weekend_plus_per_person %>
      <%= f.number_field :weekend_plus_per_person, class:"form-control" %>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :weekend_plus_per_hour %>
      <%= f.number_field :weekend_plus_per_hour, class:"form-control" %>
    </div>
  </div>
  <div class="form-button">
    <%= f.submit "Enviar", class:"btn btn-secondary" %>
  </div>
  
<% end%>