<!DOCTYPE html>
<html>
  <head>
    <title>CadeBuffet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <h1>Cadê Buffet?</h1>
      <nav>
        <% if user_signed_in? %>
          <%= button_to 'Sair', destroy_user_session_path, method: :delete %>
          <% if current_user.venue && current_user.venue.valid? %>
            <%= link_to 'Editar dados do Buffet', edit_venue_path(current_user.venue.id) %>
            <%= link_to 'Cadastrar tipos de evento', new_event_path %>
            <%= link_to 'Visualizar lista de eventos', events_path %>
            <%= link_to 'Cadastrar preços de eventos', new_price_path %>
          <% end %>
        <% else %>

          <%= form_with(url: search_venues_path, method: :get) do |f| %>
            <div id="busca">
              <%= f.label :query, 'Buscar buffet' %>
              <%= f.text_field :query %>
              <%= f.submit "Buscar" %>
            </div>
          <% end%>

          <%= link_to 'Criar sua conta', new_user_registration_path %> |
          <%= link_to 'Entrar', new_user_session_path %>
        <% end %>
      </nav>
    </header>
    
    <main>
      <div>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <%= yield %>
    </main>

  </body>
</html>
